@charset "UTF-8";

.article {
    border: 1px;
    border-color: black;
    background-color: aliceblue;
    width: 150px;
    margin: 2px;
}
#contentlist {
    width: 100%;
    justify-content: center;
}
#pageSelect {
    display: flex;
    flex-direction: row;
}
.pageButtonBox {
    width: 25px;
    height: 25px;
    margin: 5px;
    text-align:center;
}
