@charset "UTF-8";

html{
    color: gray;
}
.article {
    border: solid 1px;
    border-color: gray;
    /* background-color: aliceblue; */
    width: 150px;
    margin: 4px;
    padding: 4px;
    border-radius: 10px;
}
#contentlist {
    width: 100%;
    justify-content: center;
}
#pageSelect {
    display: flex;
    flex-direction: row;
}
.pageButtonBox {
    width: 25px;
    height: 25px;
    margin: 5px;
    text-align:center;
}
