<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="(( url_for('static', filename="css/articles.css")))">
        <title>記事一覧</title>
    </head>
    <body>
        <div id="app">
            <div>
                <ul id='contentlist'>
                    <article-component
                        v-for="article in articles"
                        v-bind:article="article"
                    ></article-component>
                </ul>
            </div>
            <div id="pageSelect">
                <div class="pageButtonBox">
                    <button v-if="page > 2"
                            v-on:click="getArticles(page - 2)">
                            {{ page - 2 }}
                    </button>
                </div>
                <div class="pageButtonBox">
                    <button v-if="page > 1"
                            v-on:click="getArticles(page - 1)">
                        {{ page - 1 }}
                    </button>
                </div>
                <div class="pageButtonBox">
                    <label id="thispage">
                        {{ page }}
                    </label>
                </div>
                <div class="pageButtonBox">
                    <button v-if="(maxpage-page) > 0"
                            v-on:click="getArticles(page + 1)">
                        {{ page + 1 }}
                    </button>
                </div>
                <div class="pageButtonBox">
                    <button v-if="(maxpage-page) > 1"
                            v-on:click="getArticles(page + 2)">
                        {{ page + 2 }}
                    </button>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="(( url_for('static', filename="js/common.js")))"></script>
        <script src="(( url_for('static', filename="vender/vue.js")))"></script>
        <script src="(( url_for('static', filename="js/articles.js")))"></script>
    </body>
</html>