<!DOCTYPE html>
<html>
    <head>
        <title>記事一覧</title>
    </head>
    <body>
        <div id="app">
            <p>{{ article_count }}</p>
            <ul>
                <li v-for="article in articles">{{ article }}</li>
            </ul>
            <button id='testButton' v-on:click="getNextArticles()">test_button</button>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="(( url_for('static', filename="js/common.js")))"></script>
        <script src="(( url_for('static', filename="vender/vue.js")))"></script>
        <script src="(( url_for('static', filename="js/articles.js")))"></script>
    </body>
</html>